[Unit]
Description={{ service_description }}
After=network.target

[Service]
User={{ service_user }}
WorkingDirectory={{ service_workdir }}
Environment={{ service_env1 }}
ExecStart={{ service_start }} 

[Install]
WantedBy=multi-user.target